<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS v5.2.1 -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <body>
    
    {% include "modals.html" %}
    
    <div class="carousel-container" id="carouselContainer">
      
      <div class="carousel">
        
          <div class="carousel-slide" style="background-image: url('{{ url_for('static', filename='image/image1.jpg') }}');">
            {% include "includes/_navbar.html" %}
            <div class="carousel-content">
                  <h1 class="arc-title">MEILLEUR RESTAURANT</h1>
                  <p>Description for the first image.</p>
                  <a href="#" class="btn">Learn More</a>
              </div>
          </div>

          <div class="carousel-slide" style="background-image: url('{{ url_for('static', filename='image/plat.jpg') }}');">
              <div class="carousel-content">
                  <h2 class="arc-title">Title 2</h2>
                  <p>Description for the second image.</p>
                  <a href="#" class="btn">Learn More</a>
              </div>
          </div>

          <div class="carousel-slide" style="background-image: url('{{ url_for('static', filename='images/image3.jpg') }}');">
              <div class="carousel-content">
                  <h2>Title 3</h2>
                  <p>Description for the third image.</p>
                  <a href="#" class="btn">VOIR</a>
              </div>
          </div>
      </div>
      
      <button class="carousel-button" id="prevButton">&#10094;</button>
      <button class="carousel-button" id="nextButton">&#10095;</button>
      
      
  </div>

  <div class="container mt-4">
    <div class="row">
        {% for uneplat in plats[:3] %}
            <div class="col-md-4 mb-4">
              
                <div class="card h-100">
                    <img src="{{ url_for('static', filename=uneplat.image) }}" class="card-img-top" alt="{{ uneplat.nom }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ uneplat.nom }}</h5>
                        <p class="card-text">{{ uneplat.description }}</p>
                        <p class="text-muted">Prix: {{ uneplat.prix }} CFA</p>
                        <form action="{{ url_for('add_to_cart') }}" method="POST" class="add-to-cart-form">
                          <input type="hidden" name="nom" value="{{ uneplat.nom }}">
                          <input type="hidden" name="description" value="{{ uneplat.description }}">
                          <input type="hidden" name="image" value="{{ uneplat.image }}">
                          <input type="hidden" name="prix" value="{{ uneplat.prix }}">
                          <button type="submit" class="btn btn-primary acheter-btn">Acheter</button>
                      </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary acheter-btn">TOUS LES PRODUITS</button>
</div>
    
    
    <!-- Bootstrap JavaScript Libraries -->
    
    <!-- Bootstrap JavaScript Libraries -->
    <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
      
      <script
        src="{{ url_for('static', filename='js/node.js') }}" >
      </script>

  </body>
  
</html>
