<!-- @format -->

{% extends 'base.html' %} {% block title %} Boutique {% endblock %} {% block
content %}

<div class="main-carousel-container" id="mainCarouselContainer">
  <div class="main-carousel">
    <div
      class="main-carousel-slide"
      style="background-image: url('{{ url_for('static', filename='image/boutiqueblog.jpg') }}'); height: 450px; background-repeat: no-repeat; background-size: cover; width: 100%;"
    >
      {% include "includes/_navbar.html" %}
      <h1 class="text-center" style="padding-top: 30px">BOUTIQUE</h1>
      <div class="d-flex justify-content-center align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
          </ol>
        </nav>
      </div>

      <div
        id="productCarousel"
        class="carousel-unique slide"
        data-bs-ride="carousel"
        data-bs-interval="2000"
      >
        <div class="carousel-inner">
          {% for i in range(0, plats|length, 4) %}
          <div class="carousel-item {% if i == 0 %}active{% endif %}">
            <div class="d-flex justify-content-between">
              {% for plat in plats[i:i+4] %}
              <div
                class="circle-div"
                onmouseover="zoomIn(this)"
                onmouseout="zoomOut(this)"
              >
                <img
                  src="{{ url_for('static', filename=plat.image) }}"
                  alt="Product Image"
                />
              </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#productCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#productCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-4">
    <div class="card ms-3">
      <div class="card-header">Rechercher</div>
      <div class="card-body">
        <div class="input-group my-2 p-1">
          <input type="text" class="form-control" id="search" />
          <label class="input-group-text" for="inputGroupFile02"
            ><i class="fa-solid fa-search"></i
          ></label>
        </div>
      </div>
    </div>
    <div class="card mt-5 ms-3">
      <div class="card-header">Categories</div>
      <div class="card-body">
        <i class="fa-solid fa-angle-right"></i><a href="#">Burgers (4)</a><br />
        <i class="fa-solid fa-angle-right"></i><a href="#">Combo Offer (8)</a
        ><br />
        <i class="fa-solid fa-angle-right"></i
        ><a href="#">Dining & Kitchen (4)</a><br />
        <i class="fa-solid fa-angle-right"></i><a href="#">Pizza Menu (5)</a
        ><br />
        <i class="fa-solid fa-angle-right"></i><a href="#">Sandwich (4)</a>
      </div>
    </div>
    <div class="card mt-5 ms-3">
      <div class="card-header">
        <h4>Post Récent</h4>
      </div>
      <div class="card-body">
        <!-- Blog Entry 1 -->
        <div class="blog-entry">
          <img src="https://via.placeholder.com/100" alt="Blog Image" />
          <div class="blog-info">
            <span class="blog-date">June 18, 2024</span>
            <span class="blog-title">Blog Post Title 1</span>
          </div>
        </div>
        <!-- Blog Entry 2 -->
        <div class="blog-entry">
          <img src="https://via.placeholder.com/100" alt="Blog Image" />
          <div class="blog-info">
            <span class="blog-date">June 17, 2024</span>
            <span class="blog-title">Blog Post Title 2</span>
          </div>
        </div>
        <!-- Blog Entry 3 -->
        <div class="blog-entry">
          <img src="https://via.placeholder.com/100" alt="Blog Image" />
          <div class="blog-info">
            <span class="blog-date">June 16, 2024</span>
            <span class="blog-title">Blog Post Title 3</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="row justify-content-center" id="product-container">
      {% for product in plats %}
      <div class="col-md-4">
        <div class="product-card" id="product-card-{{ loop.index }}">
          <div class="promo-icon">
            <span>-27%</span>
          </div>
          <div class="heart-icon">
            <i class="fa fa-heart"></i>
          </div>
          <img
            src="{{ url_for('static', filename=product.image) }}"
            alt="Image du produit"
            id="product-img-{{ loop.index }}"
          />
          <h2>{{ product.nom }}</h2>
          <button
            type="button"
            class="product-button acheter-btn"
            class=""
            id="product-btn"
          >
            Ajouter
          </button>
        </div>
      </div>
      {% endfor %}
    </div>

    <nav aria-label="Page navigation example" class="mt-5">
      <ul class="pagination">
        <li><a href="#">1</a></li>
        <li><span class="active">2</span></li>
        <li><a href="#">3</a></li>
      </ul>
    </nav>
  </div>

  {% include "includes/_footer.html" %} {% endblock %}
</div>
