{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}
    <div id="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
            messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li data-category="{{ category }}" data-message="{{ message }}"></li>
                {% endfor %}
            </ul>
        {% endif %} {% endwith %}
    </div>
    <form method="post" action="{{ url_for('login') }}">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mot de Passe</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}